<div id="chart3">
    
</div>

<script type="text/javascript">
    var base = 'http://localhost:3000/api/global-share-emissions/';
    var endpoint = '<%=emission.country%>';
    var url = base + endpoint;
    jQuery.getJSON(url).done(processResult)

    let chartThree = echarts.init(document.getElementById('chart3'));


    function processResult(data) {
    console.log(data);

    let optionChartThree = {
      dataset: {
        dimensions: ['year', 'globalshareco2'],
        source: data
      },
      tooltip: {
        trigger: 'axis',
        valueFormatter: (value) => value.toFixed(2) + '%',
        axisPointer: {
          type: 'line',
          label: {
            backgroundColor: '#6a7985'
          }
        },
        textStyle: {
            fontWeight: 300,
            color: '#212121'
          }
      },
      xAxis: {
        type: 'category',
      },
      yAxis: {
        type: 'value'
      },
      series: [
        {
          type: 'line',
          smooth: true
        }
      ]
    };

    chartThree.setOption(optionChartThree);

    window.onresize = function() {
        chartThree.resize();
      };
    };

</script>