<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Climate Change Watch</title>

        <link rel="stylesheet" href="/js/uikit-3.15.24/css/uikit.min.css" />
        <script src="/js/uikit-3.15.24/js/uikit.min.js"></script>
        <script src="/js/uikit-3.15.24/js/uikit-icons.min.js"></script>
        <script type="text/javascript" src="js/jquery-3.6.1.min.js"></script>
        <script src="js/echarts.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Roboto+Flex:opsz,wght@8..144,500&display=swap" rel="stylesheet">


        <style>
            .uk-navbar-container {
                padding-left:20px;
            }

            .uk-navbar-container:not(.uk-navbar-transparent) {
                background: #fbfcfa;
            }

            .nav-text {
              color: #212121;
            }

            #container {
            max-width: 600px;
            height: 400px;
            margin: 0 auto;
            font-family: 'Jost', 'sans-serif';
            line-height: 1.4em;
            }

            #chart6, #chart7 {
            height: 500px;
            }

            #chart8, #chart9 {
              height: 600px;
              width: 600px;
            }




            h1, h2, h3, h5 {
              font-family: 'Roboto Flex', 'sans-serif';
            }

            h6, p {
              font-family: 'Jost', 'sans-serif';
              font-size: 1.1em;
            }

            .uk-h5 {
              font-family: 'Jost', 'sans-serif';
              font-size: 1.3em;
              font-weight: 500;
            }

            .uk-tab-left, .uk-switcher {
              font-family: 'Jost', 'sans-serif';
              font-size: 1em;
            }

            #title {
              color: #2546c3;
              font-weight: 900;
            }

            #chart-title {
              color: #212121;
              font-weight: 700;
            }

            #title2 {
              font-family: 'Roboto Flex', 'sans-serif';
              color: #fbfcfa;
              font-weight: 900;
            }

            #totalPrice {
              color: #fbfcfa;
              font-weight: 600;
            }

            .img-overlay-wrap {
            position: relative;
            display: inline-block; /* <= shrinks container to image size */
            transition: transform 150ms ease-in-out;
            }

        .img-overlay-wrap img { /* <= optional, for responsiveness */
            display: block;
            max-width: 100%;
            height: auto;
            }

        .img-overlay-wrap svg {
            position: absolute;
            top: 0;
            left: 0;
            }

        text {
          font-family:'Jost', 'sans-serif';
        }

        .region {
          font-weight: bold;
          font-size: 3px;
        }

        .apac {
          font-size:5.5px;
          font-weight: bolder;
        }

        .western-europe {
          font-size:5px;
          font-weight: bolder;
        }

        .us-canada {
          font-size:4px;
          font-weight: bolder;
        }

        .latin-america {
          font-size:3.5px;
          font-weight: bolder;
        }

        .eeca {
          font-size:3.5px;
          font-weight: bolder;
        }

        .south-asia {
          font-size:3.5px;
          font-weight: bolder;
        }

        .subsaharan {
          font-size:3px;
          font-weight: bolder;
        }

        .mena {
          font-size:3px;
          font-weight: bolder;
        }

        .transregional {
          font-size:2.5px;
          font-weight: bolder;
        }

        .other {
          font-size:2.5px;
          font-weight: bolder;
        }

        </style>

    </head>

    <body>
        <div uk-sticky="uk-padding; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
            <nav class="uk-navbar-container" uk-navbar="dropbar: true">
              <div class="uk-navbar-left ">
                  <ul class="uk-navbar-nav">
                      <li class="uk-active"><a href="/"><img src="../images/climate-tracker-logo.png" style="width:220px;"></a></li>
                  </ul>
              </div>
              <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">emissions</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="/emissions">CO2 Emission Country Profile</a></li>
                                <li><a href="/sector">GHG Emissions Country Profile</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/action">action</a></li>
                    <li><a href="/calculator">footprint calculator</a></li>
                </ul>
            </div>
            </nav>


          </div>

    <div class="uk-container">
