<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Climate Change Watch</title>

   <link rel="stylesheet" href="/js/uikit-3.15.24/css/uikit.min.css" />
   <script src="/js/uikit-3.15.24/js/uikit.min.js"></script>
   <script src="/js/uikit-3.15.24/js/uikit-icons.min.js"></script>
   
   <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Roboto+Flex:opsz,wght@8..144,500&display=swap" rel="stylesheet">

   <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
   <script type="text/javascript" src="js/jquery-3.6.1.min.js"></script>
   <script src="js/echarts.min.js"></script>

   <style>
   .uk-navbar-container {
     padding-left:20px;
   }

   .uk-navbar-container:not(.uk-navbar-transparent) {
      background: black;
   }

   h1, h2, h3, h4, h5, .uk-text-success, .uk-text-uppercase, .uk-text-bolder, .uk-text-bold {
            font-family: 'Roboto Flex', 'serif';
          }

            
  p {
        font-family: 'Jost', 'serif';
        font-size: 1.1em;
      }

  .uk-tile {
        font-family: 'Jost', 'serif';
        font-size: 1.1em;
        font-weight: 400;
      }

   .uk-card-title {
    font-size: 3em;
   }

   </style>
</head>
<body>
  <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left ">
          <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="/action" uk-icon="icon: arrow-left; ratio: 4"></a></li>
          </ul>
      </div>
    </nav>
  </div>

  <div class="uk-container">
