<%- include('partials/header'); %>
<main>
      <div class="uk-section uk-section-muted">
        <div class="uk-container uk-height-viewport">
      
          <h2 class="uk-width-5-6@m uk-margin-auto uk-position-center">Which sectors contributed the most GHG in <%- include('partials/components/sector',sectorals); %>?</h2>
      
        </div>
    </div>
</main>

<%- include('partials/footer'); %>